  <form class="row" [formGroup]="articleForm" (submit)="addArticle(heading.value, editorContent, shortDescription.value)" novalidate>
    <div class="col-md-8">
        <div class="form-group col-md-12">
            <label>Заголовок</label>
            <input type="text" class="form-control" formControlName="heading" #heading />
            <div *ngIf="articleForm.controls['heading'].invalid && (articleForm.controls['heading'].dirty || articleForm.controls['heading'].touched)" class="alert alert-danger">
                <div *ngIf="articleForm.controls['heading'].errors.required">
                    Необходимо заполнить заголовок!
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label>Описание</label>
            <div [froalaEditor] [(froalaModel)]="editorContent"></div>
        </div>
        <div class="form-group col-md-12">
            <label>Короткое описание</label>
            <textarea type="text" class="form-control" formControlName="shortDescription" rows="3" #shortDescription></textarea>
            <div *ngIf="articleForm.controls['shortDescription'].invalid && (articleForm.controls['shortDescription'].dirty || articleForm.controls['shortDescription'].touched)" class="alert alert-danger">
                <div *ngIf="articleForm.controls['shortDescription'].errors.required">
                    Необходимо заполнить короткое описание!
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <label>Загрузка</label>
            <input type="file" class="form-control" formControlName="urlImage" accept="image/*" (change)="onSelectedFile($event)"  name="articleImage" #urlImage/>
        </div>
        <div class="form-group col-md-12">
            <button type="submit"  [disabled]="articleForm.pristine || articleForm.invalid" class="btn btn-primary">Добавить</button>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-12 image-container">
            <label>Изображение</label>
            <div class="img-preview">
                <img [src]="imageDef">
            </div>
        </div>
    </div>
</form>

<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-12 mt-2 mb-2" *ngFor="let article of articles">
            <mdb-card>
              <div class="view rgba-white-slight waves-light" mdbWavesEffect>
                <!-- Card img -->
                <mdb-card-img src="{{article.urlImage}}" alt="Card image cap"></mdb-card-img> 
                <a>
                  <div class="mask"></div>
                </a>
              </div>
              <!--Card content-->
              <mdb-card-body>
                <!--Title-->
                <mdb-card-title>
                  <h4>{{article.heading}}</h4>
                </mdb-card-title>
            
                <!--Text-->
                <mdb-card-text> 
                  {{article.shortDescription}}
                </mdb-card-text>
             
                <a mdbBtn class="button" (click)="delArticle(article._id)" mdbWavesEffect>Удалить</a>
              </mdb-card-body>
            </mdb-card>
        </div>
    </div>
</div>