@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap&subset=cyrillic');

.full-screan {
    height: calc(100vh - 89px);
    width: 100%;
}

* {
    font-family: 'Ubuntu', sans-serif;
}

.carousel-caption {
    h3 {
        font-size: 3.3em;
    }
    
    p {
        font-size: 1.7em;
    }
}

p {
    font-size: 1.1em;
}

.bg-plate {
    background-color: #47c25b;
    color: white !important;
}

.plate {
    padding: 20px 20px;
    color: #303030;
}

.plate-plans {

    .item {
        padding-top: 15px;
        background-color: #ffffff;
        font-weight: 300;
        
        p {
            margin-top: 10px;
            text-align: center;
        }

        .icon {
            text-align: center;
            margin-top: 10px;
            color: #47c25b;
        }
    }

    .item:not(:last-child) {
        border-right: solid #adadad;
    }
}

@media(max-width: 991px) {
    .full-screan {
        max-height: calc(100vh - 89px);
        width: 100wv;
    }

    .plate-plans {

        .item {
            padding-top: 15px;
            background-color: #ffffff;
            font-weight: 300;
            
            p {
                text-align: justify;
            }
        }
    
        .item:not(:last-child) {
            border-right: none;
            border-bottom: solid #adadad 1px;
        }
    }
}