<!-- Carusel -->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item *ngFor="let article of articles">
      <a routerLink="/articles/{{article._id}}">
        <div class="view w-100">
          <img class="d-block w-100 img-fluid full-screan" src="{{article.urlImage}}" alt="First slide">
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>
      </a>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{article.heading}}</h3>
        <p>{{article.shortDescription}}</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

<!-- Main content -->
<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 col-md-12 mt-2 plate">
          <h3 class="font-weight-bold">О НАС</h3>
          <p class="text-justify">
            Предметом деятельности общества с ограниченной ответственностью «Технопарк «Полесье» 
            является создание условий, благоприятных для организации и развития деятельности 
            инновационных предприятий, включая ускорение производственного освоения результатов 
            научно-исследовательских и опытно-конструкторских работ, изобретений и открытий, направленных 
            на развитие конкурентоспособных, экспортоориентированных и импортозамещающих технологий, 
            товаров, работ (услуг).
          </p>
          <p class="text-justify">
            Ключевым направлением деятельности технопарка является привлечение резидентов и обеспечение 
            в этой связи благоприятных условий для интенсивного формирования и развития в Республике Беларусь 
            сельского хозяйства и агробиотехнологической индустрии.
          </p>
        </div>
        <div class="col-lg-4 col-md-12 mt-1 bg-plate plate">
          <h3 class="font-weight-bold">ПОЧЕМУ МЫ?</h3>
          <p>
            Большой опыт создания и сопровождения сложных научно-технологических проектов. 
            Поможем разработать и внедрить современные технологии на Вашем предприятии
          </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 plate mb-3">
        <h3 class="font-weight-bold">НАШИ ПЛАНЫ</h3>
        <div class="row plate-plans mt-3">
          <div class="item col-md-12 col-lg-3">
            <div class="row">
              <div class="col-lg-12 col-2">
                <div class="icon">
                  <mdb-icon fas icon="chart-line" size="3x"></mdb-icon>
                </div>
              </div>
              <div class="col-lg-12 col-10">
                <p>
                  Привлечение малых инновационных предприятий, в том числе за счет 
                  проведения стартап-мероприятий
                </p>
              </div>
            </div>
          </div>
          <div class="item col-md-12 col-lg-3">
            <div class="row">
              <div class="col-lg-12 col-2">
                <div class="icon">
                  <mdb-icon fas icon="chart-line" size="3x"></mdb-icon>
                </div>
              </div>
              <div class="col-lg-12 col-10">
                <p>
                  Расширение материально-технической базы технопарка для обеспечения развития резидентов, 
                  а также сотрудничества между малыми и крупными предприятиями
                </p>
              </div>
            </div>
          </div>
          <div class="item col-md-12 col-lg-3">
            <div class="row">
              <div class="col-lg-12 col-2">
                <div class="icon">
                  <mdb-icon fas icon="chart-line" size="3x"></mdb-icon>
                </div>
              </div>
              <div class="col-lg-12 col-10">
                <p>
                  Создание условий и возможностей для коммерциализации проводимых 
                  в университете прикладных НИОКР и работ по подготовке производства
                </p>
              </div>
            </div>
          </div>
          <div class="item col-md-12 col-lg-3">
            <div class="row">
              <div class="col-lg-12 col-2">
                <div class="icon">
                  <mdb-icon fas icon="chart-line" size="3x"></mdb-icon>
                </div>
              </div>
              <div class="col-lg-12 col-10">
                <p>
                  Налаживание связей с другими предприятиями, 
                  в том числе международными, в целях реализации совместных проектов
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>