<div class="container">

    <div class="row">
        <div class="col-12 how-to">
            <h3 class="text-uppercase">Как стать резидентом технопарка</h3>
            <p>
                В настоящее время общая площадь офисных помещений технопарка составляет 2400 квадратных метров. 
                Удобная планировка, общая компьютерная сеть, система кондиционирования, системы безопасности и контроля за доступом в помещения,
                дифференцированный учет потребляемой электроэнергии, а также конференц-зал и комнаты переговоров обеспечат максимальный 
                уровень комфорта, высокую продуктивность Вашей работы. Всё это позволит снизить размер 
                финансовых затрат при создании и развитии инновационного бизнеса. 
                Кроме этого, технопарк может предоставить Вам в аренду мебель и компьютерную технику. 
                Сегодня стоимость арендной платы офисных помещений в технопарке составляет
                от 9 руб. за 1 квадратный метр помещения в месяц.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 privileges">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-uppercase">Льготы для резидентов Технопарка</h3>
                </div>
            </div>
            <div class="row content">
                <div class="item col-sm-12 col-md-4">
                    <div class="icon">
                        <img src="../../../assets/for-residents/become-resident-tax-icon1.png" alt="ico">
                    </div>
                    <div class="text">
                        <span>Налог на прибыль 0%  Налог при УСН 0%</span>
                    </div>
                </div>
                <div class="item col-sm-12 col-md-4">
                    <div class="icon">
                        <img src="../../../assets/for-residents/become-resident-tax-icon2.png" alt="ico">
                    </div>
                    <div class="text">
                        <span>Арендная плата за помещения от 9 руб. за 1 квадратный метр помещения в месяц</span>
                    </div>
                </div>
                <div class="item col-sm-12 col-md-4">
                    <div class="icon">
                        <img src="../../../assets/for-residents/become-resident-tax-icon3.png" alt="ico">
                    </div>
                    <div class="text">
                        <span>Освобождены от налогов и сборов, полностью уплачиваемых в городской бюджет</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 requirements">
            <h3 class="text-uppercase">ТРЕБОВАНИЯ К РЕЗИДЕНТАМ ТЕХНОПАРКА</h3>
            <div class="row content">
                <div class="col-12">
                    <mdb-icon fas icon="check" class="icon"></mdb-icon> <span>осуществление инновационной деятельности</span>
                </div>
                <div class="col-12">
                    <mdb-icon fas icon="check" class="icon"></mdb-icon> <span>наличие статуса юридического лица или индивидуального предпринимателя</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 join">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-uppercase">Процедура регистрации в качестве резидента Технопарка</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Vertical Steppers -->
                    
                        <!-- Stepers Wrapper -->
                        <ul class="stepper stepper-vertical">
                    
                            <!-- First Step -->
                            <li>
                            <a>
                                <span class="circle">1</span>
                                <span class="label">Бизнес-идея</span>
                            </a>

                            <div class="step-content grey lighten-3 w-100">
                                <p>Предварительное обсуждение бизнес-идеи заявителя на основании предоставленных им данных</p>
                            </div>
                            </li>
                    
                            <!-- Second Step -->
                            <li>
                    
                            <!--Section Title -->
                            <a>
                                <span class="circle">2</span>
                                <span class="label">Комплект документов</span>
                            </a>
                    
                            <!-- Section Description -->
                            <div class="step-content grey lighten-3 w-100">
                                <p>Подготовка и представление в Технопарк комплекта документов</p>
                            </div>
                            </li>
                    
                            <!-- Third Step -->
                            <li>
                            <a>
                                <span class="circle">3</span>
                                <span class="label">Регистрация заявителя</span>
                            </a>

                            <div class="step-content grey lighten-3 w-100">
                                <p>Рассмотрение на Совете Технопарка вопроса о регистрации заявителя в качестве резидента</p>
                            </div>
                            </li>
                    
                            <!-- Fourth Step -->
                            <li>
                            <a>
                                <span class="circle">4</span>
                                <span class="label">Присвоение статуса</span>
                            </a>

                            <div class="step-content grey lighten-3 w-100">
                                <p>Присвоение статуса резидента Технопарка, подписание договора аренды помещений и договора на осуществление инновационной деятельности</p>
                            </div>
                            </li>
                    
                        </ul>
                        <!-- /.Stepers Wrapper -->
                    
                        </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 files">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-uppercase">Документы для скачивания</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <a href="http://localhost:3000/uploads/docs/anketa.pdf">
                        <div class="icon">
                            <mdb-icon far icon="file-pdf" size="2x"></mdb-icon>
                        </div>
                        <span class="align-middle">АНКЕТА РЕЗИДЕНТА</span>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="http://localhost:3000/uploads/docs/zayavlenie.pdf">
                        <div class="icon">
                            <mdb-icon far icon="file-pdf" size="2x"></mdb-icon>
                        </div>
                        <span class="align-middle">ЗАЯВЛЕНИЕ (ФОРМА)</span>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="http://localhost:3000/uploads/docs/polojenie_o_sovete.pdf">
                        <div class="icon">
                            <mdb-icon far icon="file-pdf" size="2x"></mdb-icon>
                        </div>
                        <span class="align-middle">ПОЛОЖЕНИЕ О СОВЕТЕ ТЕХНОПАРКА</span>
                    </a>
                </div>
                <div class="col-md-3 col-sm-12">
                    <a href="http://localhost:3000/uploads/docs/reglament.pdf">
                        <div class="icon">
                            <mdb-icon far icon="file-pdf" size="2x"></mdb-icon>
                        </div>
                        <span class="align-middle">РЕГЛАМЕНТ РАБОТЫ С РЕЗИДЕНТАМИ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>