* {
    color: #303030;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    margin-top: 2em;
}

.privileges {
    padding: 10px 15px;
    background-color: #47c25b;

    h3 {
        color: #ffffff;
    }

    span {
        color: #ffffff;
        font-size: 1.1em;
    }

    .content {
        margin-top: 10px;

        .item {
            display: inline-flex;
            margin-bottom: 20px;

            .text {
                margin: auto 1em;
                font-weight: 500;
            }
        }
    }
    
}

.requirements {
    margin: 20px 0px 10px 0px;
    
    .content {
        display: inline-flex;

        .icon {
            width: 30px;
        }
    
        span {
            margin-left: 10px;
        }
    }
    
}

.join {
    margin: 20px 0 10px 0;
}

.circle {
    background: #47c25b !important;
}

.stepper {
    font-weight: 500;

    color: #303030 !important;
    
    li a .label {
        color: #303030 !important;
    }
}

.files {
    margin-top: 1em;
    margin-bottom: 2em;

    a {
        margin-top: 1em;
        display: inline-flex;

        .icon {
            width: 48px;
            height: 48px;

            * {
                margin-left: 10px;
                margin-top: 8px;
            }
        }
    
        span {
            margin-left: 10px;
            font-weight: 500;
        }
    }

    a:hover, a:focus {
        color: #47c25b !important;

        .icon {
            
            * {
                color: #47c25b;
            }
        }

        span {
            color: #47c25b;
        }
    }
}

h3 {
    font-weight: 500;
    font-size: 1.7em;
}

p {
    font-size: 1.2em;
    text-align: justify;
}   