<div class="sidebar">
    <ul class="items mb-auto">
        <li class="item">
            <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{home}}</a>
        </li>
        <li class="item" *ngFor="let link of linkList" >
            <a class="link" routerLink="{{link.link}}" routerLinkActive="active">{{link.name}}</a>
        </li>
    </ul>
    <a class="link mt-auto" routerLink="/">Выход</a>
</div>
  
<div class="content">
    <div class="container-fluid">
        <mdb-breadcrumb>
            <mdb-breadcrumb-item class="blue-text">Технопарк «Полесье»</mdb-breadcrumb-item>
            <mdb-breadcrumb-item class="active">Админ-панель</mdb-breadcrumb-item>
        </mdb-breadcrumb>
        <router-outlet></router-outlet>
    </div>
</div>