<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" >
         <i class="fa fa-bars"></i>
      </a>
    
      <nav class="s-sidebar__nav">
         <ul>
            <li>
                <a class="s-sidebar__nav-link" routerLinkActive="active" routerLink="/dashboard" [routerLinkActiveOptions]="{exact: true}">
                    <em>Статистика</em>
                </a>
            </li>
            <li *ngFor="let item of linkList">
               <a class="s-sidebar__nav-link" routerLinkActive="active" routerLink="{{item.link}}">
                  <em>{{item.name}}</em>
               </a>
            </li>
            <li>
                <a class="s-sidebar__nav-link" routerLink="">
                    <em>Выйти</em>
                </a>
            </li>
         </ul>
      </nav>
    </div>
    
    <!-- Content -->
    <main class="s-layout__content">
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>