<div class="img-container">
    <img src="{{article.urlImage}}" alt="Snow" class="full-screan">
    <!-- <div class="bottom-right">
        <button type="button" (click)="goBack()" mdbBtn class=".z-depth-0 go-home" mdbWavesEffect>Вернуться</button>
    </div> -->
    <div class="centered">
        <!-- <h2>{{article.heading}}</h2>
        <p>{{article.shortDescription}}</p> -->
    </div>
</div>

<div class="container article-wrap">
    <div class="row">
        <div class="col-12" >
            <div class="articleheading">
                <h2>{{article.heading}}</h2>
                <span>{{article.date | date:'dd.MM.yy HH:mm'}}</span>
            </div>
            <div [froalaView]="article.description">
                
            </div>
        </div>
    </div>
</div>